header{

    background-color: white;
}

.logo-container{

    display: flex;
    flex-direction: column;
}

#logo-ministero{

    width: 20%;
    height: auto;
}

#logo-volta{

    width: 30%;
    height: auto;
    padding-left: 10px;
}

.navigationBar {

    background-color: #a11825;
    padding: 1.5% 5%;
}

.navigationBar button {

    display: inline;
    margin: 0% 2%;
    color: #fff;
    background-color: #a11825;
    border: 0;
    font-size: 20px;
}

body{

    background-color: #dde3ec;
}

.row1{

    display: inline;

    background-color: #dde3ec;
}

.obermun{

    background-color: #fff;
    float:left;
    width: 320px;
    height: 325px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#obermun-img{

    width: 100%;
    height: auto;
}

.text{

    margin-left: 10px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;
}

.title h1{

    color: #a11825;
    font-size: 17px;

}

.description p{

    color: #000000;
    font-size: 13px;

}

.orizzontiPossibili {

    background-color: #fff;
    float: left;
    width: 320px;
    height: 325px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#orizzontiPossibili-img{

    width: 100%;
    height: auto;
}

.goodLuck {

    background-color: #fff;
    float: left;
    width: 320px;
    height: 325px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#goodLuck-img {

    width: 100%;
    height: auto;
}


.row2 {

    background-color: #dde3ec;
    position: relative;
    top: 390px;
    left: 20px;

    clear: left;
}

.festivalScienza {

    position: relative;


    background-color: #fff;
    width: 490px;
    height: 380px;
    bottom: 350px;

}

#festivalScienza-img {

    width: 100%;
    height: auto;
}

.racingTeam {

    position: relative;

    background-color: #fff;

    width: 490px;
    height: 380px;

    left: 550px;
    bottom: 370px;


}

#racingTeam-img {

    width: 100%;
    height: auto;
}


.row3 {


    background-color: #dde3ec;
}

.direttaClassi {

    position: relative;
    background-color: #fff;
    float: left;
    width: 320px;
    height: 380px;
    margin-right: 20px;
    bottom: 310px;

}

#direttaClassi-img {

    width: 100%;
    height: auto;
}


.diconoDiNoi {

    position: relative;

    background-color: #fff;
    float: left;
    width: 320px;
    height: 380px;
    bottom: 310px;
    margin-left: 20px;
    margin-right: 20px;
}

#diconoDiNoi-img {

    width: 100%;
    height: auto;
}

.archivioIniziative {

    position: relative;

    background-color: #fff;
    float: left;
    width: 320px;
    height: 380px;
    bottom: 310px;
    margin-left: 20px;
}

#archivioIniziative-img {

    width: 100%;
    height: auto;
}